@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: white;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: white;
}
h3 {
    font-size: 30px;
    line-height: 54px;
    color: white;
}
h4 {
    font-size: 20px;
    color: white;
}

h6 {
    font-weight: 700;
    font-size: 12px;
    color: white;
}

p {
   font-size: 16px;
   color: white;
   margin: 15px 0 20px 0;
}

.section-p1 {
	padding:40px 80px;
}
.section-m1 {
	margin: 40px 0;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}
body {
	width: 100%;
    background-color: #000;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#navbar{
    display: flex;
    flex-direction:row;
    align-items: center;

}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: red;
    
}
#navbar li a.lg{
    color: red;
    
}
#mobile{
    display: none;
    align-items: center;

}
#hero{
    background-image: url("img/4k-hero.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-position: top 25% right 0%;
    padding: 0 80px;
    padding-top: 200px;
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero h4{
    padding-bottom: 15px;
    color: #fff;
}

#hero h2{
    color: #fff;
}
#hero p{
    color: #fff;
}
#hero h1{
    color: red;
}

#hero .button{
    background-color: red;
    color: red;
    border: 1px solid red ;
    padding: 0px 80px 0px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}
#hero .button p{

    text-decoration: none;
    color: #fff;
}

.slider-wrapper{
    position: relative;
    max-width: 100%;
    height: 700px !important;
    margin: 0 auto;
    overflow: hidden;
}

.slider{
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem --0.75rem hsla(0, 0%, 0%, 0.25);
    width: 100%;
    height: 100%; 
}
.slide img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    height: 700px;
    width: 100%;
}
.move{
    position:absolute;
    bottom: 0;
    left: 0;
    color: #222;
    background-color: rgba(0, 0, 0, 0);
    padding: 300px 20px 200px 100px;
    font-weight: 600;
    animation: scroll2 20s infinite
}
.slide{
    position: relative;
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    height: 700px;
}
@keyframes scroll {
    0% { transform: translateX(0); }
    33% { transform: translateX(0); }
    36% { transform: translateX(-100%); }
    66% { transform: translateX(-100%); }
    68% { transform: translateX(-200%); }
    100% { transform: translateX(-200%); }
}
@keyframes scroll2 {
    0% { transform: translateX(0); }
    33% { transform: translateX(0); }
    36% { transform: translateX(-375%); }
    66% { transform: translateX(-375%); }
    68% { transform: translateX(-600%); }
    100% { transform: translateX(-600%); }
}
.text {
    font-size: 40px;
    
}
.text1 {
    font-size: 15px;
    
}
.link{
    font-size: 12px;
}
.link a{
    color: #222;
}
.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: white;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.slider-nav a:hover{
    opacity: 1;
}
#abt{
    text-align: center;
    padding: 25px 10px;
    padding-left: 20%;
    padding-right: 20%;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
    background-color: rgb(27, 27, 27);
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}


#product1{
    text-align: center;
}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap:wrap;
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #fff;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .des span{
    color: #8b8b8d;
    font-size: 12px;
}
#product1 .pro .des p{
    color: #a8a8a9;
    font-size: 12px;
    padding-bottom: 0%;
}
#product1 .pro .des h5{
    padding-top: 7px;
    color: #fff;
    font-size: 14px;
}
#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: red;
}


#product1 .pros-container{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    flex-wrap:wrap;
    gap: 20px;
}

#product1 .pros{
    width: 45%;
    min-width: 250px;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#product1 .pros:hover{
    box-shadow: 20px 20px 30px rgba(255, 255, 255, 0.06);
}
#product1 .pros img{
    width: 100%;
    border-radius: 20px;
}
#product1 .pros .des{
    text-align: start;
    padding: 10px 0;
}
#product1 .pros .des span{
    color: #8b8b8d;
    font-size: 12px;
}
#product1 .pro .des p{
    color: #a8a8a9;
    font-size: 12px;
    padding: 0px;
}
#product1 .pros .des h5{
    padding-top: 7px;
    color: #fff;
    font-size: 14px;
}
#product1 .pros .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}
#product1 .pros .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: red;
}

#product1 .pros .ses{
    text-align: start;
    padding: 35px;
    color: white;
    border: none;
    border-radius: 10px;
    text-align: center;
    background: linear-gradient(90deg,rgba(227, 186, 247, 1) 0%, rgba(253, 29, 29, 1) 0%, rgba(252, 176, 69, 1) 100%);
}

#product1 .pros .sss {
    text-align: start;
    padding: 50px;
    color: white;
    border: none;
    border-radius: 10px;
    text-align: center;
    background: linear-gradient(90deg,rgba(227, 186, 247, 1) 0%, rgba(253, 29, 29, 1) 0%, rgba(252, 176, 69, 1) 100%);
}

#product1 .pros .sss:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0,0,0,0.3);
}


.fixed-button {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    display: flex;
    justify-content: center;
}

.fixed-button button {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.price{
    display: flex;
    align-items: center;
}
.price p{
    padding-top: 10px;
}
#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #f6e8f0;
    font-weight: 600;
    color: red;
    border: 1px solid #e7cce4;
    position: absolute;
    bottom: 20px;
    right: 10px;
}
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(img/Untitled\ \(12\).png);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
#banner h4{
    color: #fff;
    font-size: 16px;
    padding: 10px 0;
}
#banner h2{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}
#banner h2 span{
    color: #ef3636;
}
#banner button:hover {
    background: pink;
    color: #fff;
}
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner/b17.jpg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}
#sm-banner .banner-box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner/b10.jpg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}
#sm-banner h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}
#sm-banner h2{
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}
#sm-banner span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}
#sm-banner .banner-box:hover button{
    background: #088178;
    border: 1PX solid #088178;
}
#sm-banner .banner-box2:hover button{
    background: #088178;
    border: 1PX solid #088178;
}
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}
#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/banner/b7.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}
#banner3 .banner-box2{
    background-image: url("img/banner/b4.jpg");
}
#banner3 .banner-box3{
    background-image: url("img/banner/b18.jpg");
}

#banner3 h2{
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}
#banner3 h3{
    color: #ec544e;
    font-weight: 800;
    font-size: 15px;
}
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #ec544e;
}
#newsletter h4{
    font-size: 22px;
    font-weight: 600;
    color: #000000;
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #000;
}
#newsletter p span{
    color: #ffbd27;
}
#newsletter .form {
    display: flex;
    width: 40%;
}
#newsletter .form form{
    display: flex;
    width: 100%;
}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter button{
    background-color: red;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo{
    margin-bottom: 30px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: red;
    margin-bottom: 10px;
}
footer p a{
    color: white;
}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
    color: red;
    padding-right: 4px;
    cursor: pointer;

}
footer .install .row img{
    border: 1px solid red;
    border-radius: 6px;
}
footer .install{
    margin: 10px 0 15px;
}
footer .follow i:hover,
footer a{
    color: red;
}
footer .copyright{
    width: 100%;
    text-align: center;

}
/* Start Media Query */
.closebtn {
    display: none;
   }
   
/*Shop page*/
#page-head{
    background-image: url(img/Gray\ tech\ Modern\ Twitch\ Banner.png);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}
#page-head h2,
#page-head p{
    color: red;
}

/*laptop page*/
#page-header{
    background-image: url(img/hero.png);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}
#page-header .contact-header {
    background-image: url("img/Brown\ Minimalist\ Contact\ Us\ Seek\ Cover.png");
}
#page-header h2,
#page-header p{
    color: red;
}

.senior{
    background-image: url(img/sen.png);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}
.senior h2 ,.senior p{
    color: red;
}

#pagination{
    text-align: center;
}
#pagination a{
    text-decoration: none;
    background-color: red;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}
#pagination a i{
    font-size: 16px;
    font-weight: 600;
}
/*Single product*/
#pro-details {
    display: flex;
    margin-top: 20px;
}
#pro-details .single-pro-details{
    width: 50%;
    padding-top: 30px;
}
#pro-details .single-pro-details h4{
    padding: 40px 0 20px 0;

}
#pro-details .single-pro-details h2{
    font-size: 26px;    
}
#pro-details .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
    width: 9.25rem;
    background-color: #ef3636;
    border: white 1px solid;
    border-radius: 4px;
}
#pro-details .single-pro-details select>option{
    color: #fff;
    background-color: #ec544e;
}

#pro-details .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#pro-details .single-pro-details input:focus{
    outline: none;
}
#pro-details .single-pro-details button {
    background: red;
    color: #fff;
    border: 1px solid red ;
    padding: 10px 100px 10px 100px;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    border-radius: 10px;
}
#pro-details .single-pro-details span{
    line-height: 25px;
    color: lightgray;
}
#pro-details .single-pro-image{
    width: 40%;
    margin: 50px;
}

#pro-details2 {
    display: none;
}
#pro-details2 .single-pro-details h4{
    padding: 40px 0 0 0;
    font-size: 46px;

}
.small-image-group{
    display: flex;
    justify-content: space-between;
}
.small-image-col{
    flex-basis: 24%;
    cursor: pointer;
}
/*blog page */
#page-header.blog-header{
    background-image: url("img/banner/b19.jpg");
}
#blog{
    padding: 150px 150px 0 150px;
}
#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}
#blog .blog-img{
    width: 50%;
    margin-right: 40px;
}
#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
#blog .blog-details{
    width: 50%;
}
#blog .blog-details a {
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}
#blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -60px;
}
#blog .blog-details a:hover{
    color: #088178;
}
#blog .blog-details a:hover::after{
    color: #088178;
}
#blog .blog-box h1{
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9c9c9;
    z-index: -9;
}
/* About Page*/
#page-header.contact-header{
    background-image: url(img/Black\ &\ White\ Modern\ Business\ LinkedIn\ Banner.png);
}
#page-header.about-header{
    background-image: url(img/macbook_laptop_cup_.jpg);
}
#page-header.about-header h2,
#page-header.about-header p{
    color: red;
}
#about-index{
    background-size: 100% 100%;
    display: flex;
    align-items: left;
    padding-right:50% ;
}
#about-index div{
    background-color: rgba(0, 0, 0, 0);
    padding: 60px;
    border: 1px solid #fff;  
}
#about-index div .a{
    padding: 0%;
    border: none;  
}
#about-index div .a1{
    padding: 0%;
    border: none;  
}
#about-index div .dropdown-content{
    padding: 0%;
    border: none;
    display: none;  
}
#register{
    background-image: url(img/1331503.jpg);
    background-size: 100% 100%;
    display: flex;
    align-items: left;
    padding-right:50% ;
    padding-bottom: 300px;   
}
#register div{
    background-color: rgba(0, 0, 0, 0.9);;
    padding: 60px;
}
#register button{
    background-color: blue;
    color: blue;
    border: 1px solid blue ;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}
#register button a{
    text-decoration: none;
    color: #fff;
}
#about-head{
    display: flex;
    align-items: center;
}
#about-head img{
    width: 50%;
    height: auto;
}

#about-head div{
    padding-left: 40px;
}
#about-app{
    text-align: center;
}
#about-app .video{
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}
#about-app .video video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
#about-started{
    padding-top: 50px;
    text-align: center;
}
#about-started h4{
    padding-top: 40px;
    padding-bottom: 20px;
}
#about-started h2{
    padding-bottom: 40px;
}
#about-started div{
    display: flex;
    justify-content: space-between;
}
#about-started div > * {
    margin: 0 10px; /* Adjust the value as needed */
}
#about-started div div{
    background-color: rgba(0, 0, 0, 0);
    padding: 30px;
    border: 1px solid #fff;
    border-radius: 25px;
    display: flex; flex-direction: column; align-items: center;
}
#about-started div div button{
    border: none;
    width: 40px;
    height: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
    border-radius: 50%; /* This makes the button round */
}
/*contact page*/
#contact-details{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#contact-details .details > div{
    display: flex;
  flex-direction: row; /* Items will be placed in a row (default) */
  align-items: center; 
  gap: 20px; /* Space between items */
}
#contact-details .details span,
#form-details form span{
    font-size: 20px;
}
#contact-details .details h2,
#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}
#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}
#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0 ;
}
#contact-details .details li i{
    font-size: 15px;
    padding-right: 10px;
    color: red;
}
#contact-details .details li p{
    margin: 0;
    font-size: 14px;
}
#contact-details .map{
    width: 55%;
    height: 400px;
}
#contact-details .map iframe{
    width: 100%;
    height: 100%;
}
#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;border: 1px solid #e1e1e1;
}
#form-details form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#form-details form span{
    color: #fff;
}
#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
}
#form-details form button{
    background-color: red;
    color: #fff;
}
#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}
#form-details .people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}
#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}
#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}
/*cart page*/
#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}
#cart table img{
    width: 70px;
}
#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}
#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}
#cart table thead{
    border-top: 1px solid #e2e9e1;
    border-bottom: 1px solid #e2e9e1;

}
#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}
#cart table tbody tr td{
    padding-top: 15px;
}
#cart table tbody td{
    font-size: 13px;
}
#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#coupon{
    width: 50%;
    margin-bottom: 30px;
}
#coupon h3,
#subtotal h3{ 
    padding-bottom: 15px;
}
#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}
#coupon button,
#subtotal button{
    background-color: #088178;
    color: #fff;
    padding: 12px 20px;
}
#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}
#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
#subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}

/* From Uiverse.io by Yaya12085 */ 
.radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: rgb(28, 28, 28);
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 300px;
    font-size: 14px;
  }
  
  .radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
  }
  
  .radio-inputs .radio input {
    display: none;
  }
  
  .radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
  }
  
  .radio-inputs .radio input:checked + .name {
    background-color: #d60000;
    font-weight: 900;
  }
  #pay{
    padding-top: 10px;
  }
  #loca {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
  }

  .pricebar {
    overflow: hidden;
    background-color: #000;
    position:fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    display: none;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-top: 1px solid gray;
    z-index: 1000;
  }
  .pricebar button{
    color: white;
    background-color: red;
    border-radius: 1rem;
    width: 350px;
    height: 75px;
    font-size: 30px;
    font-weight: 900;
  }
@media screen and (orientation: portrait){
    .radio-inputs {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        border-radius: 0.7rem;
        background-color: rgb(28, 28, 28);
        box-sizing: border-box;
        box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
        padding: 0.25rem;
        width: 100%;
        font-size: 25px;
    }
    .radio-inputs .radio .name {
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        border-radius: 0.7rem;
        border: none;
        padding: 1.5rem 0;
        color: rgba(51, 65, 85, 1);
        transition: all .15s ease-in-out;
      }
    #navbar{
        display: flex;
        flex-direction:column;
        align-items: center;
    
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
      
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      
      #main {
        transition: margin-left .5s;
        padding: 16px;
      }
      
      #mobile {
        display: block;
    }

    #about-index{
        background-size: 100% 100%;
        display:flex;
        align-items: center;
        padding-right:0%;
    }
    #page-head{
    height: 20vh;
}
    #page-header{
        background-image: url(img/hero.png);
        width: 100%;
        height: 20vh;
        background-size: cover;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        padding: 14px;
    }
    #pro-details {
        justify-content: center;
        display:inline-table;
        margin-top: 0px;
    }
    #pro-details .single-pro-details{
        width: 100%;
        padding-top: 30px;
    }
    
    #mob2{
        display: none;
    }
    
    #about-started h4{
        font-size:x-large;
    }
    #pro-details .single-pro-details h4{
        padding: 40px 0 20px 0;
    }
    #pro-details .single-pro-details h2{
        font-size: 26px;    
    }
    #pro-details .single-pro-details select{
        display: block;
        padding: 5px 10px;
        margin-bottom: 10px;
        width: 9.25rem;
        background-color: #ef3636;
        border: white 1px solid;
        border-radius: 4px;
    }
    #pro-details .single-pro-details select>option{
        color: #fff;
        background-color: #ec544e;
    }
    
    #pro-details .single-pro-details input{
        width: 50px;
        height: 47px;
        padding-left: 10px;
        font-size: 16px;
        margin-right: 10px;
    }
    #pro-details .single-pro-details input:focus{
        outline: none;
    }
    #pro-details .single-pro-details button {
        background: red;
        color: #fff;
        border: 1px solid red ;
        padding: 10px 80px 10px 80px;
        cursor: pointer;
        font-weight: 700;
        font-size: 15px;
        border-radius: 25px;
        width: 100%;
    }
    #pro-details .single-pro-details span{
        line-height: 25px;
        color: lightgray;
    }
    #pro-details .single-pro-details span ul{
        padding-left: 25px;
    }
    
    #pro-details .single-pro-image{
        width: 100%;
        margin: 0px;
    }
    #pro-details2 {
        display: flex;
    }
    #product1 .pro .des span{
        color: #aaaaad;
        font-size: 13px;
    }
    #product1 .pro .des p{
        color: #a8a8a9;
        font-size: 13px;
        padding-bottom: 0%;
    }
    .price{
        display: block;
        align-items: center;
    }
    .price p{
        padding-top: 10px;
    }
    #product1 .pro-container{
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        flex-wrap:wrap;
    }
    #product1 .pro{
        width: 100%;
        min-width: 250px;
        padding: 10px 12px;
        border: 1px solid #fff;
        border-radius: 25px;
        cursor: pointer;
        box-shadow: 0px 0px 0px rgba(252, 252, 252, 0.02);
        margin: 15px 0;
        transition: 0.2s ease;
        position: relative;
    }
    #product1 .pro .cart{
        width: 100px;
        height: 100px;
        line-height: 100px;
        border-radius: 50px;
        background-color: #f6e8f0;
        font-size:xx-large;
        font-weight: 600;
        color: red;
        border: 1px solid #e7cce4;
        position: absolute;
        bottom: 20px;
        right: 10px;
    }
    .section-p1 {
        padding:40px 20px;
    }
    .pricebar{
        display: flex;
    }
    #pay{
        display: none;
    }
}

#day {
    display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  }
  
  #day input[type="radio"] {
    margin-right: 5px; /* Add some spacing between the radio button and the paragraph */
  }
  
  #day p {
    margin: 0; /* Remove default paragraph margins */
    width: 100%;
  }


  /* From Uiverse.io by andrew-demchenk0 */ 
.rating:not(:checked) > input {
    position:fixed;
    appearance: none;
  }
  
  .rating:not(:checked) > label {
    float: right;
    cursor: pointer;
    font-size: 30px;
    color: #666;
  }
  
  .rating:not(:checked) > label:before {
    content: '★';
  }
  
  .rating > input:checked + label:hover,
  .rating > input:checked + label:hover ~ label,
  .rating > input:checked ~ label:hover,
  .rating > input:checked ~ label:hover ~ label,
  .rating > label:hover ~ input:checked ~ label {
    color: #e58e09;
  }
  
  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
    color: #ff9e0b;
  }
  
  .rating > input:checked ~ label {
    color: #ffa723;
  }
  
  
  
  /* From Uiverse.io by coding-masala */ 
.radio-buttons {
    display: flex;
    flex-direction: column;
    color: white;
  }
  
  .radio-button {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .radio-button input[type="radio"] {
    display: none;
  }
  
  .radio-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #aaa;
    position: relative;
    margin-right: 10px;
  }
  
  .radio-circle::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.2s ease-in-out;
  }
  
  .radio-button input[type="radio"]:checked + .radio-circle::before {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .radio-button:nth-of-type(1) input[type="radio"]:checked + .radio-circle::before {
    background-color: white;
  }
  
  .radio-button:nth-of-type(2) input[type="radio"]:checked + .radio-circle::before {
    background-color: white;
  }
  
  .radio-button:nth-of-type(3) input[type="radio"]:checked + .radio-circle::before {
    background-color: white;
  }
  
  .radio-button:hover .radio-circle {
    border-color: #555;
  }
  
  .radio-button:hover input[type="radio"]:checked + .radio-circle::before {
    background-color: #555;
  }
  